<div id="overlayContainer" style="display: none;">
    <div id="serverSelectContent" style="display: none;">
        <span id="serverSelectHeader">Servidores disponibles</span>
        <div id="serverSelectList">
            <div id="serverSelectListScrollable">
                <!-- Server listings populated here. -->
            </div>
        </div>
        <div id="serverSelectActions">
            <button id="serverSelectConfirm" class="overlayKeybindEnter" type="submit">Seleccionar</button>
            <div id="serverSelectCancelWrapper">
                <button id="serverSelectCancel" class="overlayKeybindEsc">Anular</button>
            </div>
        </div>
    </div>
    <div id="accountSelectContent" style="display: none;">
        <span id="accountSelectHeader">Seleccione una cuenta</span>
        <div id="accountSelectList">
            <div id="accountSelectListScrollable">
                <!-- Accounts populated here. -->
            </div>
        </div>
        <div id="accountSelectActions">
            <button id="accountSelectConfirm" class="overlayKeybindEnter" type="submit">Sélectionner</button>
            <div id="accountSelectCancelWrapper">
                <button id="accountSelectCancel" class="overlayKeybindEsc">Annuler</button>
            </div>
        </div>
    </div>
    <div id="overlayContent">
        <span id="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
        <span id="overlayDesc">Es importante cuidar al paciente, ser seguido por el paciente, pero sucederá en un momento en el que hay mucho trabajo y dolor. Hasta el más mínimo detalle, ¿quiénes somos...?</span>
        <div id="overlayActionContainer">
            <button id="overlayAcknowledge" class="overlayKeybindEnter">Intentar otra vez</button>
            <div id="overlayDismissWrapper">
                <button id="overlayDismiss" style="display: none;" class="overlayKeybindEsc">Despedir</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>